.p-9 {
    padding: 4rem !important;
}

h4 {
    font-size: 1rem;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.fs-3 {
    font-size: 1.25rem !important;
}

.fs-5 {
    font-size: .875rem !important;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 560px;
    width: 820px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 560px;
    width: 820px;
}

.aboutUsField input{
    padding-top: 10px;
}